@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar{
  width: 0 !important;
  height: 0 !important;
}
.sidebar::-webkit-scrollbar{
  width: 0 !important;
  height: 0 !important;
}
@keyframes loader-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  border-right-color: transparent;
  animation: loader-rotate 1s linear infinite;
}
.chart-container{
  width: 800px !important;
}
.card {
  border-radius: 6px;
  background: #ededed;
  border: 1px solid #878686d6;
  padding: 20px;
}
.value{
  color: #888;
    font-size: 1rem;
}